<article class="flex justify-center items-center flex-col w-8/12 mx-auto">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <div class="py-5 text-2xl font-bold text-blue-950">
          <h1>{{ article.title }}</h1>
        </div>
      {% when 'article_author' %}
        <small>{{ article.author }}</small>
      {% when 'article_published_date' %}
        <time datetime="{{ article.published_at | date:"on_date" }}">
          {{- article.published_at | date: '%y - %m - %d' -}}
        </time>
      {% when 'featured_image' %}
        {% if article.image != blank %}
          <div class="w-[550px] object-cover overflow-hidden">
            <img src="{{article.image | image_url }}" width="auto" height="auto">
          </div>

        {% else %}
          {% assign placeholder_image = 'lifestyle-2' %}
          {{ placeholder_image | placeholder_svg_tag: 'w-[500px] object-cover' }}
        {% endif %}

      {% when 'article_content' %}
        <div class="p-8">{{ article.content }}</div>
      {% else %}

    {% endcase %}
  {% endfor %}
</article>

<section>
  {% if article.comments_enabled? %}
    {% if article.comments_count > 0 %}

        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div class="my-0 w-96 mx-auto pb-7">
              <div class=" gap-4">
                <h1 class="text-xl font-bold">{{ comment.author }}</h1>
                <span class="text-xs">{{ article.created_at | date: '%B %d, %Y' }}</span>
              </div>
              <p class="font-medium">{{ comment.content }}</p>
            </div>
        
          {% endfor %}
          <div class="flex justify-center">
            <div class="w-40">
              {% if paginate.pages > 1 %}
                {{ paginate | default_pagination }}
              {% endif %}
            </div>
          </div>
     
     
        {% endpaginate %}
       
    {% endif %}

  {% else %}
    No comments
  {% endif %}
  <div class=" w-20 mx-auto">
    {% form 'new_comment', article %}
      <div class="flex justify-between gap-6">
        <div class="p-2 my-2">
          <label for="comment_name">Name</label>
          <input
            placeholder="John Doe"
            type="text"
            name="comment[author]"
            id="comment_name"
            class="py-2 px-8 outline-none border border-cyan-200"
          >
        </div>
        <div class="border p-2 my-2">
          <label for="comment_email">Email </label>
          <input
            type="email"
            placeholder="john@doe.com"
            name="comment[email]"
            id="comment_email"
            class="py-2 px-8 outline-none border border-cyan-200"
          >
        </div>
      </div>
      <div class="w-72 my-2">
        <label>Comment</label>
        <textarea
          name="comment[body]"
          row="30"
          cols="120"
          placeholder="Write your message"
          class="w-full border"
          class="py-2 px-8 outline-none border border-cyan-200"
        >

        </textarea>
      </div>

      <div>
        <input type="submit" value="Submit Now" class="cursor-pointer block bg-blue-500 text-white border px-8 py-2">
      </div>
    {% endform %}
  </div>
</section>

{% schema %}
{
  "name": "Article Schema",
  "settings": [
    {
      "type": "header",
      "content": "Edit Article"
    },
    {
      "type": "text",
      "id": "article_title",
      "label": "Add article title"
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Article title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author Name",
      "limit": 1
    },
    { "type": "article_published_date", "name": "Published Date", "limit": 1 },
    {
      "type": "featured_image",
      "name": "Featured Image",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
